html body{

  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;


}
header {
  margin: 0;
  padding: 0;
  width: 100%;
  background: #f2f3f2;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  width: 100%;
  height: auto;
  padding-left: 50px;
  padding-top: 10px;
  max-width: 120px;
}

nav {
  float: right;
  padding: 15px;
  padding-right: 50px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 50px;
  position: relative;
}

nav a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}

nav a:hover {
  color: grey;
}

nav a::before {
  content: '';
  display: block;
  height: 3px;
  background-color: black;
  position:absolute;
  bottom: -10px;
  width: 0%;
  transition: All ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}
