html body{

  font-family: 'Montserrat', sans-serif;
  font-weight: 300;

}
.container {
  width: 100%;
  margin: 0 auto;
}


/* BODY */
.responsive {
  width: 100%;
  height: auto;
}

/*shop1*/
.button1{
  position: absolute;
  top:62%;
  left:1%;
  color: white;
  padding: 30px 8px;
  font-size: 1.4vw;
  background-color: #6600cc;
  border: none;
  cursor: pointer;
  opacity: 0;
  transition: 0.3s;
  border-radius: 40%;
}
.popup1 {display: none;}
.button1:hover + .popup1 {
  display: inline;
  float: right;
  position: absolute;
  bottom: 220px;
  right: 50px;
}
.button1:hover{opacity: 0.4;}
.Shop1{opacity: 0.8; width: 80%; height: auto;}

/*shop2*/
.button2{
  position: absolute;
  top:62%;
  left:8%;
  color: white;
  padding: 30px 8px;
  font-size: 1.4vw;
  background-color: #000000;
  border: none;
  cursor: pointer;
  opacity: 0;
  transition: 0.3s;
  border-radius: 40%;
}

.popup2 {display: none;}
.button2:hover + .popup2 {
  display: inline;
  float: right;
  position: absolute;
  bottom: 220px;
  right: 50px;
}
.button2:hover{opacity: 0.4;}
.Shop2{opacity: 0.8; width: 80%; height: auto;}

/*Shop 3*/
.button3{
  position: absolute;
  top:62%;
  left:15%;
  color: black;
  padding: 30px 8px;
  font-size: 1.4vw;
  background-color: #ffccff;
  border: none;
  cursor: pointer;
  opacity: 0;
  transition: 0.3s;
  border-radius: 40%;
}

.popup3 {display: none;}
.button3:hover + .popup3 {
  display: inline;
  float: right;
  position: absolute;
  bottom: 220px;
  right: 50px;
}
.button3:hover{opacity: 0.4;}
.Shop3{opacity: 0.8; width: 80%; height: auto;}

/*Shop 4*/
.button4{
  position: absolute;
  top:62%;
  left:20%;
  color: white;
  padding: 30px 8px;
  font-size: 1.4vw;
  background-color: #009999;
  border: none;
  cursor: pointer;
  opacity: 0;
  transition: 0.3s;
  border-radius: 40%;
}

.popup4 {display: none;}
.button4:hover + .popup4 {
  display: inline;
  float: right;
  position: absolute;
  bottom: 220px;
  right: 50px;
}
.button4:hover{opacity: 0.4;}
.Shop4{opacity: 0.8; width: 80%; height: auto;}

/* Shop5 */
.button5{
  position: absolute;
  top:62%;
  left:25%;
  color: white;
  padding: 30px 8px;
  font-size: 1.4vw;
  background-color: #000033;
  border: none;
  cursor: pointer;
  opacity: 0;
  transition: 0.3s;
  border-radius: 40%;
}

.popup5 {display: none;}
.button5:hover + .popup5 {
  display: inline;
  float: right;
  position: absolute;
  bottom: 220px;
  right: 50px;
}
.button5:hover{opacity: 0.4;}
.Shop5{opacity: 0.8; width: 80%; height: auto;}



/* MEDIA QUERIES */

@media only screen and (max-width: 323px){
.button1{
  top:80%;
  left:1%;
  color: white;
  padding: 3px 0.8px;
  }
  .button1:hover + .popup1 {float: right; left: 60%; }
  .Shop1{opacity: 0.8; width: 100%; height: auto;}

.button2{
  top:80%;
  left:8%;
  color: white;
  padding: 3px 0.8px;
  }
  .button2:hover + .popup2 { float: right; left: 60%;}
  .Shop2{opacity: 0.8; width: 100%; height: auto;}

.button3{
    top:80%;
    left:15%;
    color: white;
    padding: 3px 0.8px;
    }
    .button3:hover + .popup3 {float: right; left: 60%;}
    .Shop3{opacity: 0.8; width: 100%; height: auto;}

.button4{
    top:80%;
    left:21.5%;
    color: white;
    padding: 3px 0.8px;
    }
    .button4:hover + .popup4 {float: right; left: 60%;}
    .Shop4{opacity: 0.8; width: 100%; height: auto;}

.button5{
    top:80%;
    left:27.5%;
    color: white;
    padding: 3px 0.8px;
    }
    .button4:hover + .popup4 {float: right; left: 60%;}
    .Shop4{opacity: 0.8; width: 100%; height: auto;}

}

@media only screen and (min-width:500px){
.button1{
  top:55%;
  left:1%;
  padding: 6px 1.6px;
  }
  .button1:hover + .popup1 {float: right; left: 60%; }
  .Shop1{opacity: 0.8; width: 100%; height: auto;}

.button2{
  top:55%;
  left:8%;
  padding: 6px 1.6px;
  }
  .button2:hover + .popup2 { float: right; left: 60%;}
  .Shop2{opacity: 0.8; width: 100%; height: auto;}

.button3{
    top:55%;
    left:15%;
    padding: 6px 1.6px;
    }
    .button3:hover + .popup3 {float: right; left: 60%;}
    .Shop3{opacity: 0.8; width: 100%; height: auto;}

.button4{
      top:55%;
      left:21.5%;
      padding: 6px 1.6px;
      }
      .button4:hover + .popup4 { float: right; left: 60%;}
      .Shop4{opacity: 0.8; width: 100%; height: auto;}

.button5{
      top:55%;
      left:27.5%;
      padding: 6px 1.6px;
      }
      .button5:hover + .popup5 {float: right; left: 60%;}
      .Shop5{opacity: 0.8; width: 100%; height: auto;}
}

@media only screen and (min-width:600px){
.button1{
  top:58.5%;
  left:1%;
  padding: 10px 2px;
  }
  .button1:hover + .popup1 {float: right; left: 60%; }
  .Shop1{opacity: 0.8; width: 100%; height: auto;}

.button2{
  top:58.5%;
  left:8%;
  padding: 10px 2px;
  }
  .button2:hover + .popup2 { float: right; left: 60%;}
  .Shop2{opacity: 0.8; width: 100%; height: auto;}

.button3{
    top:58.5%;
    left:15%;
    padding: 10px 2px;
    }
    .button3:hover + .popup3 {float: right; left: 60%;}
    .Shop3{opacity: 0.8; width: 100%; height: auto;}

.button4{
    top:58.5%;
    left:21.5%;
    padding: 10px 2px;
    }
    .button4:hover + .popup4 { float: right; left: 60%;}
    .Shop4{opacity: 0.8; width: 100%; height: auto;}

.button5{
      top:58.5%;
      left:27.5%;
      padding: 10px 2px;
      }
      .button5:hover + .popup5 {float: right; left: 60%;}
      .Shop5{opacity: 0.8; width: 100%; height: auto;}

}

@media only screen and (min-width:790px){
.button1{
  top:65%;
  left:1%;
  padding: 10px 2px;
  }
  .button1:hover + .popup1 {float: right; left: 60%; }
  .Shop1{opacity: 0.8; width: 100%; height: auto;}

.button2{
  top:65%;
  left:8%;
  padding: 10px 2px;
  }
  .button2:hover + .popup2 { float: right; left: 60%;}
  .Shop2{opacity: 0.8; width: 100%; height: auto;}

.button3{
    top:65%;
    left:15%;
    padding: 10px 2px;
    }
    .button3:hover + .popup3 {float: right; left: 60%;}
    .Shop3{opacity: 0.8; width: 100%; height: auto;}

.button4{
      top:65%;
      left:21.5%;
      padding: 10px 2px;
      }
      .button4:hover + .popup4 { float: right; left: 60%;}
      .Shop4{opacity: 0.8; width: 100%; height: auto;}

.button5{
      top:65%;
      left:27.5%;
      padding: 10px 2px;
      }
      .button5:hover + .popup5 {float: right; left: 60%;}
      .Shop5{opacity: 0.8; width: 100%; height: auto;}
}

@media only screen and (min-width:970px){
.button1{
  top: 68%;
  left:1.5%;
  padding: 15px 2px;
  }
  .button1:hover + .popup1 {float: right; left: 60%; }
  .Shop1{opacity: 0.8; width: 100%; height: auto;}

.button2{
  top: 68%;
  left:8.5%;
  padding: 15px 2px;
  }
  .button2:hover + .popup2 { float: right; left: 60%;}
  .Shop2{opacity: 0.8; width: 100%; height: auto;}

.button3{
    top: 68%;
    left:15.5%;
    padding: 15px 2px;
    }
    .button3:hover + .popup3 {float: right; left: 60%;}
    .Shop3{opacity: 0.8; width: 100%; height: auto;}


.button4{
      top: 68%;
      left:21.5%;
      padding: 15px 2px;
      }
    .button4:hover + .popup4 { float: right; left: 60%;}
    .Shop4{opacity: 0.8; width: 100%; height: auto;}

  .button5{
      top: 68%;
      left:27.5%;
      padding: 15px 2px;
      }
      .button5:hover + .popup5 {float: right; left: 60%;}
      .Shop5{opacity: 0.8; width: 100%; height: auto;}


}
@media only screen and (min-width:975px){
.button1{
  top: 60%;
  left:1.5%;
  padding: 15px 2px;
  }
  .button1:hover + .popup1 {float: right; left: 60%; }
  .Shop1{opacity: 0.8; width: 100%; height: auto;}

.button2{
  top: 60%;
  left:8.5%;
  padding: 15px 2px;
  }
  .button2:hover + .popup2 { float: right; left: 60%;}
  .Shop2{opacity: 0.8; width: 100%; height: auto;}

.button3{
    top: 60%;
    left:15.5%;
    padding: 15px 2px;
    }
    .button3:hover + .popup3 {float: right; left: 60%;}
    .Shop3{opacity: 0.8; width: 100%; height: auto;}


.button4{
    top: 60%;
    left:21.5%;
    padding: 15px 2px;
    }
    .button4:hover + .popup4 { float: right; left: 60%;}
    .Shop4{opacity: 0.8; width: 100%; height: auto;}

.button5{
      top: 60%;
      left:27.5%;
      padding: 15px 2px;
      }
      .button5:hover + .popup5 {float: right; left: 60%;}
      .Shop5{opacity: 0.8; width: 100%; height: auto;}

}
@media only screen and (min-width:976px){
.button1{
  top: 58%;
  left:1.5%;
  padding: 15px 2px;
  }
  .button1:hover + .popup1 {float: right; left: 60%; }
  .Shop1{opacity: 0.8; width: 100%; height: auto;}

.button2{
  top: 58%;
  left:8.5%;
  padding: 15px 2px;
  }
  .button2:hover + .popup2 { float: right; left: 60%;}
  .Shop2{opacity: 0.8; width: 100%; height: auto;}

.button3{
  top: 58%;
  left:15.5%;
  padding: 15px 2px;
  }
  .button3:hover + .popup3 {float: right; left: 60%;}
  .Shop3{opacity: 0.8; width: 100%; height: auto;}

.button4{
      top: 58%;
      left:21.5%;
      padding: 15px 2px;
      }
      .button4:hover + .popup4 { float: right; left: 60%;}
      .Shop4{opacity: 0.8; width: 100%; height: auto;}

  .button5{
        top: 58%;
        left:27.5%;
        padding: 15px 2px;
        }
        .button5:hover + .popup5 {float: right; left: 60%;}
        .Shop5{opacity: 0.8; width: 100%; height: auto;}

}
@media only screen and (min-width:1000px){
.button1{
  top: 61%;
  left:1.5%;
  padding: 30px 3px;
  }
  .button1:hover + .popup1 {float: right; left: 60%; }
  .Shop1{opacity: 0.8; width: 100%; height: auto;}

.button2{
  top: 61%;
  left:8.5%;
  padding: 30px 3px;
  }
  .button2:hover + .popup2 { float: right; left: 60%;}
  .Shop2{opacity: 0.8; width: 100%; height: auto;}

.button3{
    top: 61%;
    left:15%;
    padding: 30px 3px;
    }
    .button3:hover + .popup3 {float: right; left: 60%;}
    .Shop3{opacity: 0.8; width: 100%; height: auto;}

.button4{
      top: 62%;
      left:21.5%;
      padding: 30px 3px;
      }
      .button4:hover + .popup4 { float: right; left: 60%;}
      .Shop4{opacity: 0.8; width: 100%; height: auto;}

.button5{
        top: 62%;
        left:27.5%;
        padding: 30px 3px;
        }
        .button5:hover + .popup5 {float: right; left: 60%;}
        .Shop5{opacity: 0.8; width: 100%; height: auto;}
}
