html body{

  font-family: 'Montserrat', sans-serif;
  font-weight: 300;

}
.container {
  width: 100%;
  margin: 0 auto;
}



/*
.bg-image{
  width: 100%;
  position: relative;
}*/


header {
  background: #f2f3f2;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  width: 100%;
  height: auto;
  padding: 10px 0;
  padding-top: 10px;
  max-width: 120px;

}

/*.logo {
  float: left;
  padding: 10px 0;
  padding-top: 10px;
  max-width: 120px;
  height: auto;
}*/

nav {
  float: right;
  padding: 15px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 50px;
  position: relative;
}

nav a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}

nav a:hover {
  color: grey;
}

nav a::before {
  content: '';
  display: block;
  height: 3px;
  background-color: black;

  position:absolute;
  bottom: -10px;
  width: 0%;

  transition: All ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

.responsive {
  width: 100%;
  height: auto;
}

.button1 {
  position: absolute;
  top:70.5%;
  left:34%;
  color: white;
  margin: 0;
  font-size: 1.4vw;
}
/*shop1*/
.button1{
  position: absolute;
  top:62%;
  left:1%;
  color: white;
  padding: 30px 8px;
  font-size: 1.4vw;
  background-color: green;
  border: none;
  cursor: pointer;
  opacity: 1;
  transition: 0.3s;
  border-radius: 40%;
}
.popup1 {display: none;}
.button1:hover + .popup1 {
  display: inline;
  float: right;
  position: absolute;
  bottom: 100px;
  right: 50px;
}
.button1:hover{opacity: 0.4;}
.Shop1{opacity: 0.8; width: 80%; height: auto;}

/*shop2*/
.button2{
  position: absolute;
  top:62%;
  left:8%;
  color: white;
  padding: 30px 8px;
  font-size: 1.4vw;
  background-color: yellow;
  border: none;
  cursor: pointer;
  opacity: 1;
  transition: 0.3s;
  border-radius: 40%;
}

.popup2 {display: none;}
.button2:hover + .popup2 {
  display: inline;
  float: right;
  position: absolute;
  bottom: 100px;
  right: 50px;
}
.button2:hover{opacity: 0.4;}
.Shop2{opacity: 0.8; width: 80%; height: auto;}

/*Shop 3*/
.button3{
  position: absolute;
  top:62%;
  left:15%;
  color: white;
  padding: 30px 8px;
  font-size: 1.4vw;
  background-color: blue;
  border: none;
  cursor: pointer;
  opacity: 1;
  transition: 0.3s;
  border-radius: 40%;
}

.popup3 {display: none;}
.button3:hover + .popup3 {
  display: inline;
  float: right;
  position: absolute;
  bottom: 100px;
  right: 50px;
}
.button3:hover{opacity: 0.4;}
.Shop3{opacity: 0.8; width: 80%; height: auto;}


@media only screen and (max-width: 323px){
.button1{
  background-color: red;
  top:80%;
  left:1%;
  color: white;
  padding: 3px 0.8px;
  }
  .button1:hover + .popup1 {float: right; left: 60%; }
  .Shop1{opacity: 0.8; width: 100%; height: auto;}

.button2{
  background-color: red;
  top:80%;
  left:8%;
  color: white;
  padding: 3px 0.8px;
  }
  .button2:hover + .popup2 { float: right; left: 60%;}
  .Shop2{opacity: 0.8; width: 100%; height: auto;}

.button3{
    background-color: red;
    top:80%;
    left:15%;
    color: white;
    padding: 3px 0.8px;
    }
    .button3:hover + .popup3 {float: right; left: 60%;}
    .Shop3{opacity: 0.8; width: 100%; height: auto;}
}

@media only screen and (min-width:500px){
.button1{
  background-color: pink;
  top:55%;
  left:1%;
  color: white;
  padding: 6px 1.6px;
  }
  .button1:hover + .popup1 {float: right; left: 60%; }
  .Shop1{opacity: 0.8; width: 100%; height: auto;}

.button2{
  background-color: red;
  top:55%;
  left:8%;
  color: white;
  padding: 6px 1.6px;
  }
  .button2:hover + .popup2 { float: right; left: 60%;}
  .Shop2{opacity: 0.8; width: 100%; height: auto;}

.button3{
    background-color: red;
    top:55%;
    left:15%;
    color: white;
    padding: 6px 1.6px;
    }
    .button3:hover + .popup3 {float: right; left: 60%;}
    .Shop3{opacity: 0.8; width: 100%; height: auto;}
}

@media only screen and (min-width:600px){
.button1{
  background-color: blue;
  top:58.5%;
  left:1%;
  color: white;
  padding: 10px 2px;
  }
  .button1:hover + .popup1 {float: right; left: 60%; }
  .Shop1{opacity: 0.8; width: 100%; height: auto;}

.button2{
  background-color: red;
  top:58.5%;
  left:8%;
  color: white;
  padding: 10px 2px;
  }
  .button2:hover + .popup2 { float: right; left: 60%;}
  .Shop2{opacity: 0.8; width: 100%; height: auto;}

.button3{
    background-color: red;
    top:58.5%;
    left:15%;
    color: white;
    padding: 10px 2px;
    }
    .button3:hover + .popup3 {float: right; left: 60%;}
    .Shop3{opacity: 0.8; width: 100%; height: auto;}
}

@media only screen and (min-width:790px){
.button1{
  background-color: blue;
  top:65%;
  left:1%;
  color: white;
  padding: 10px 2px;
  }
  .button1:hover + .popup1 {float: right; left: 60%; }
  .Shop1{opacity: 0.8; width: 100%; height: auto;}

.button2{
  background-color: red;
  top:65%;
  left:8%;
  color: white;
  padding: 10px 2px;
  }
  .button2:hover + .popup2 { float: right; left: 60%;}
  .Shop2{opacity: 0.8; width: 100%; height: auto;}

.button3{
    background-color: red;
    top:65%;
    left:15%;
    color: white;
    padding: 10px 2px;
    }
    .button3:hover + .popup3 {float: right; left: 60%;}
    .Shop3{opacity: 0.8; width: 100%; height: auto;}
}
@media only screen and (min-width:970px){
.button1{
  background-color: black;
  top: 68%;
  left:1.5%;
  color: white;
  padding: 15px 2px;
  }
  .button1:hover + .popup1 {float: right; left: 60%; }
  .Shop1{opacity: 0.8; width: 100%; height: auto;}

.button2{
  background-color: red;
  top: 68%;
  left:8.5%;
  color: white;
  padding: 15px 2px;
  }
  .button2:hover + .popup2 { float: right; left: 60%;}
  .Shop2{opacity: 0.8; width: 100%; height: auto;}

.button3{
    background-color: red;
    top: 68%;
    left:15.5%;
    color: white;
    padding: 15px 2px;
    }
    .button3:hover + .popup3 {float: right; left: 60%;}
    .Shop3{opacity: 0.8; width: 100%; height: auto;}
}
@media only screen and (min-width:975px){
.button1{
  background-color: blue;
  top: 60%;
  left:1.5%;
  color: white;
  padding: 15px 2px;
  }
  .button1:hover + .popup1 {float: right; left: 60%; }
  .Shop1{opacity: 0.8; width: 100%; height: auto;}

.button2{
  background-color: red;
  top: 60%;
  left:8.5%;
  color: white;
  padding: 15px 2px;
  }
  .button2:hover + .popup2 { float: right; left: 60%;}
  .Shop2{opacity: 0.8; width: 100%; height: auto;}

.button3{
    background-color: red;
    top: 60%;
    left:15.5%;
    color: white;
    padding: 15px 2px;
    }
    .button3:hover + .popup3 {float: right; left: 60%;}
    .Shop3{opacity: 0.8; width: 100%; height: auto;}
}
@media only screen and (min-width:976px){
.button1{
  background-color: blue;
  top: 58%;
  left:1.5%;
  color: white;
  padding: 15px 2px;
  }
  .button1:hover + .popup1 {float: right; left: 60%; }
  .Shop1{opacity: 0.8; width: 100%; height: auto;}

.button2{
  background-color: red;
  top: 58%;
  left:8.5%;
  color: white;
  padding: 15px 2px;
  }
  .button2:hover + .popup2 { float: right; left: 60%;}
  .Shop2{opacity: 0.8; width: 100%; height: auto;}

.button3{
    background-color: red;
    top: 58%;
    left:15.5%;
    color: white;
    padding: 15px 2px;
    }
    .button3:hover + .popup3 {float: right; left: 60%;}
    .Shop3{opacity: 0.8; width: 100%; height: auto;}
}
@media only screen and (min-width:1000px){
.button1{
  background-color: blue;
  top: 60%;
  left:1.5%;
  color: white;
  padding: 30px 3px;
  }
  .button1:hover + .popup1 {float: right; left: 60%; }
  .Shop1{opacity: 0.8; width: 100%; height: auto;}

.button2{
  background-color: red;
  top: 60%;
  left:8.5%;
  color: white;
  padding: 30px 3px;
  }
  .button2:hover + .popup2 { float: right; left: 60%;}
  .Shop2{opacity: 0.8; width: 100%; height: auto;}

.button3{
    background-color: red;
    top: 60%;
    left:15.5%;
    color: white;
    padding: 30px 3px;
    }
    .button3:hover + .popup3 {float: right; left: 60%;}
    .Shop3{opacity: 0.8; width: 100%; height: auto;}
}
